.card {
  display: flex;
  flex-direction: column;
  background-color: #929292;
  color: white;
  border: none;
  border-radius: 0;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.card:hover {
  transform: scale(1.05);
}

h2 {
  font-family: "Dancing Script";
  font-size: 50px;
}
